<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 如果不启用这个 会出现xxx.xxx.ooo are in unnamed module of loader 'app'-->
    <aop:config proxy-target-class="true"><!-- 这个是强制使用CGLIB -->
        <aop:aspect id="securityAspect" ref="securityAOPWithConfigHandler2">
<!--            <aop:pointcut id="addAddMethod" expression="execution(* com.ncsi.spring.manager.*.*(..))"/>-->
            <!-- 支持包下面的类中的所有add*和del*的方法。 -->
            <aop:pointcut id="addAddMethod" expression="execution(* com.example.spring.manager.*.add*(..)) || execution(* com.example.spring.manager.*.del*(..))"/>
            <aop:after method="checkSecurity" pointcut-ref="addAddMethod"/>
        </aop:aspect>
    </aop:config>
    <!-- 启用AspectJ对Annotation的支持 -->
    <aop:aspectj-autoproxy/>
    <bean id="userManager" class="com.example.spring.manager.UserManagerImp">
        <property name="userDao" ref="userDao4MySql"/>
    </bean>
    <bean id="userDao4MySql" class="com.example.spring.dao.UserMySqlDao"/>
    <bean id="userDao4Oracle" class="com.example.spring.dao.UserOracleDao"/>
    <bean id="securityAOPWithConfigHandler2" class="com.example.spring.manager.SecurityAOPWithConfigHandler2"/>
</beans>